@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root{
    font-family: 'Kumbh Sans', sans-serif;
}

//colours
//primary text
$very-dark-desat-blue: hsl(238, 29%, 16%);
$soft-red:  hsl(14, 88%, 65%);

//neutral text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//dividers
$light-grayish-blue: hsl(240, 5%, 91%);

//background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

body {
    background: linear-gradient(to bottom, $soft-violet, $soft-blue);
    background-repeat: no-repeat;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    width: 90%;
    margin: 150px auto 50px;
}

.image {
    display: flex;
    flex: 1 1 100%;
    background: url(./images/bg-pattern-mobile.svg) top center;
    background-repeat: no-repeat;
    justify-content: center;
    overflow: visible;
    position: relative;
    padding-bottom: 8rem;
    align-items: center;

    #box {
        display: none;
    }

    picture {
        position: absolute;
        top: -85%;
        left: 50%;
        transform: translateX(-55%);
        
    }
}

.faqs{
    width: 80%;
    margin: auto;
    padding: 10px 10px 50px 10px;

    h1 {
        color: $very-dark-desat-blue;
        font-size: 2.5em;
        text-align: center;
    }
}

.faq {
    border-bottom: 1.5px solid $light-grayish-blue;

    .question {
        color: $dark-grayish-blue;
        width: 100%;
        outline: none;
        text-align: left;
        border: none;
        background-color: transparent;
        font-size: 1.1em;
        padding: 15px 0;
        cursor: pointer;
        transition: 0.4s;

    }

    .active {
        color: $very-dark-desat-blue;
    }

    .question:hover {
        color: $soft-red;
    } 
    
    .arrow {
        content: url(./images/icon-arrow-down.svg);
        float: right;
        rotate: none;
    }

    .answer{
        color: $dark-grayish-blue;
        overflow: hidden;
        display: none;
        padding-bottom: 5px;
        transition: max-height 0.2s ease-out;
    }
}

@media screen and (min-width: 1000px) {
    .container {
        flex-direction: row;
        width: 65%;
        margin-top: 113px;
    }

    .image {
       background: url(./images/bg-pattern-desktop.svg) bottom 30% left 120%;
       background-repeat: no-repeat;
       position: relative;

       .image-wrap {
            overflow: hidden;
            width: 100%;
            height: 130%;
       }

       #box {
            display: block;
            z-index: 1;
            position: absolute;
            left: -21%;
            top: 36%;
        }

        picture {
            transform: translateX(-14rem);
            position: relative;
            top: 21%;
            left: -18%;
            
        }

    }

    .faqs{
        padding-right: 50px;
        padding-bottom: 10px;

        h1 {
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .faq{
        .question{
            padding: 20px 0;
        }
    }

    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%);}