//colours
//primary 
$desat-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

//neutral
$dark-grayish-red: hsl(0, 6%, 24%);

//gradients
$linear-gradient1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$linear-gradient2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

//font
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
$body-font: 16px 'Josefin Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font: $body-font;
}

#logo img {
    margin: 1.5rem;
    height: 1.3rem;
}

main {
    text-align: center;
    
    picture img {
        width: 100%;
    }

    article {
        padding: 3rem 2rem;

        h1 {
            text-transform: uppercase;
            font-size: 2.8rem;
            font-weight: 600;
            color: $dark-grayish-red;    
            
            span{ 
                color: $desat-red;
                font-weight: 300;
            }
        }

        p {
            color: $desat-red;
            font-size: 1rem;
            line-height: 1.5rem;
            margin: 1rem 0;
        }

        form {
            
            input {
                padding: 0.7rem 1rem;
                border-radius: 30px;
                border: 1px solid $desat-red;
                height: 2.8rem;
                width: 80%;
                margin-top: 1rem;
            }

            button {
                padding: 8px 20px;
                background: #f78484;
                border: none;
                border-radius: 20px;
                box-shadow: 2px 5px 8px $desat-red;
                position: relative;
                transform: translateX(-75%);              
            }

            ::placeholder, ::-moz-placeholder {
                color: $desat-red;
            }
        }
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 1000px) {
    #logo {
        position: absolute;
        top: 2rem;
        left: 7rem;

        img { height: 2rem;}
    }
    
    main {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        background: url(images/bg-pattern-desktop.svg);

        article {
            padding: 8rem;
            max-width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                padding-right: 3.5rem;
                line-height: 1.7rem;
            }

        }
    }

    body {
        height: 100vh;
        max-width: 1400px;
    }



}